<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <title>%PAGE_TITLE%</title> -->
    <link href="https://uploads-ssl.webflow.com/629e11c04abbacb89ac5a3ab/62a1f4cc0dec73fb7d228686_favicon-32x32.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://uploads-ssl.webflow.com/629e11c04abbacb89ac5a3ab/62a1f5fa7df459f2cf13c00b_simplyq-256x256.png" rel="apple-touch-icon">
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      redoc {
        display: block;
      }
    </style>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
    {{redocHead}}
  </head>
  <body>
    {{redocBody}}
  </body>
</html>

